.myjourney {
  max-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to right, #73618d, #18aeb6);
  text-align: center;

}
.myjourney__heading{
  color:rgb(255, 255, 255);
  font-weight: 400;
  display:inline-block;
  position:relative;

}

.myjourney__heading::after{
  content:'';
  height:2px;
  width:25%;
  background:#2d1a3a;
  position:absolute;
  left:calc(50% - 10%);
  bottom:-5px;
}


.myjourney__centered{

  display: flex;
  justify-content: center;

}
.myjourney__timeline {
  padding: clamp(30px, 5%, 70px);
  /* max-width: 80vw; */
  /* border: 1px solid black; */
}


.myjourney__point {
  position: relative;
  display: grid;
  vertical-align: top;
  margin-bottom: 30px;
}

.myjourney__icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #3498db;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  float: left;
  /* z-index: 99; */
}

.myjourney__date {
  width: 210px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 15px;
  font-weight: 300;
  color: #ffffff;
}

.myjourney__content {
  margin-left: 50px;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  border-radius: 3px;
  text-align: left;
}

.myjourney__content h3 {
  font-size: 23px;
  font-weight: 400;
  text-decoration: underline;
  text-align: left;
}

.myjourney__content h4 {
  font-size: 15px;
  font-weight: 300;
  color: #50575c;
  margin: 2px 0 15px 0;
}

.myjourney__content p {
  color: #74808a;
  font-size: 1em;
  margin: 4px;
}
